<!-- POC by AlexT-->

<section id="infographic">

<p id="disclaimer" class="txtcenter"> Only interested in <b>long term</b> opportunities with <b>c2c</b> contracts</p>





<!-- Introduction user data-->
  <article  id="intro" class="api-section">
      <div class="w100 fleft pdtop40">
        
        <h3  class=" w100 txtcenter mainTitle fleft">Senior Front End Web & Mobile developer && MEAN full stack Software Engineer.</h3>
      </div>
  </article>

  <article class="api-section insider" id="logos">
        
          <div class="blockcenter">
              <img src="images/logos/angularjs.png">
              <img src="images/logos/jslogo.png">
              <img src="images/logos/css3-logo-icon.png">
              <img src="images/logos/HTML5.png">
              <img src="images/logos/pack2.gif">
              <img src="images/logos/gulp_logo.png">
              <img src="images/logos/PhoneGapLogo_small.png">

            </div>
            <div class="blockcenter">
              <img src="images/logos/github-logos-278px.png">
              <img src="images/logos/nodejs-logo.png">
              <img src="images/logos/meanlogo.png">
              <img src="images/logos/mongodb.png">
              <img src="images/logos/jenkins_logo-300x96.png">
              <img src="images/logos/amazon-web-services.png">
            </div>
            
        
</article>

<!--About Me,  user data-->
  <article  id="me" class="api-section insider">
        

          <div class=" fleft" id="imager">
            <h2  class="txtcenter mainTitle mt16">{{apiProfile.github.user.name}}</h2>
              <div class="fleft w100">
                  <div class="imgprofile fleft" >
                      <img src="{{apiProfile.github.user.avatar_url}}" >
                  </div>
                  <div class='fleft w40 '> 
                    <p class="txtcenter  w100 pdtop40"> 
                        <a class="txtblue" href="{{apiProfile.extra.url1}}"> 
                        <b>RESUME <i class="fa fa-file-pdf-o"></i> </b> 
                        </a>
                    </p>
                    <p class="txtcenter  w100 pdtop40"> 
                    <a class="txtblue"  href="{{apiProfile.extra.portfolioNew}}"> 
                      <b>PORTFOLIO <i class="fa fa-code"></i></b> 
                      </a> 
                    </p>
                  </div>
              </div>
            <!--img class="imgprofile" src="{{apiProfile.linkedin.pictureUrl}}"-->



              <ul class=" fleft top20" id="pskills">
                <li class="fleft "> 
                  Experience of <b class='txtblue'>10 years</b> as a web developer, working in some of the biggest cities of the World.
                </li>

                <li class="fleft "> 
                  <b class='txtblue'>2</b> of then intensively building hybrid mobile apps (over 100)
                </li>

                <li class="fleft "> 
                  last <b class='txtblue'>4</b> years building dynamic web interfaces with angular.js and servers with node.js.
                </li>


                <li class="fleft live" >
                  Living in Boston since 2014 (<b class='txtblue'>E2 Visa with working permit</b> )
                </li>

                <li class="fleft ">
                  Always motivated and optimist, looking forward for a new challenge.
                </li>
                <li class="fleft ">
                  I love developing my skills, and learning day by day. 
                </li>

              
              </ul>

          </div>

          <div class="w60 fright boxed" id="map">
                  <iframe src="https://www.google.com/maps/d/embed?mid=1VAT7QFm55bKFFzhYwi2j3KYDeWU&hl=en" width="100%" height="510"></iframe>
          </div>

      
  </article>




<!-- SKILLS user data-->
  <!-- article class="api-section" id="skills">
    <div ng-include="'views/boxes/graphs2.html'" ></div>
  </article-->

  <article  id="clients" class="api-section insider">
    <h2 class="txtcenter">Clients</a> </h2>

    <!--div>{{profileData.github.repos}}</div-->
      <img src="images/clients/accor_logo.png">
      <img src="images/clients/aia_logo.png">
      <img src="images/clients/apollo_logo.png">
      <img src="images/clients/astrazeneca_logo.png">
      <img src="images/clients/barclays_logo.png">
      <img src="images/clients/bnp_logo.png">
      <img src="images/clients/boa_logo.png">
      <img src="images/clients/centrica_logo.png">
      <img src="images/clients/ge_logo.png">
      <img src="images/clients/hsbc_logo.png">
      <img src="images/clients/mondi_logo.png">
      <img src="images/clients/morgan_logo.png">
      <img src="images/clients/novartis_logo.png">
      
      <img src="images/clients/quintiles_logo.png">
      <img src="images/clients/skandia_logo.png">
      <img src="images/clients/takeda_logo.png">
      <img src="images/clients/visa_logo.png">

      <img src="images/clients/pyro_logo.png">

      <img src="images/clients/zed_logo.png">
      <img src="images/clients/repsol_logo.jpeg">

      <img src="images/clients/mapfre_logo.jpg">
      <img src="images/clients/santander_logo.png">
      <img src="images/clients/pvh_logo.png">



</article>




<!-- GH user data-->
  <article  id="contact" class="api-section insider">
    <h2>Do you wanna talk?</h2>
    <div>

         <div class="w50 fleft txtcenter top75">

            <a href="mailto:{{apiProfile.github.user.email}}?Subject=Hello%20again" target="_top" class=" txtcenter "> 
                <i class="fa fa-envelope"></i> 
                <span class="">{{apiProfile.github.user.email}}</span>
            </a>

        </div>

         <div class="w50 fleft txtcenter special">

            <a target="_blank" href="https://twitter.com/Alex_Trebolle" class="w100 txtleft fleft"> 
                <i class="fa fa-twitter"></i> 
                <span class="showauto">https://twitter.com/Alex_Trebolle</span>
            </a>

            <a target="_blank" href="{{githubUser.html_url}}" class="w100 txtleft fleft"> 
                <i class="fa fa-github"></i> 
                <span class="showauto">{{githubUser.html_url}}</span>
            </a>

            <a target="_blank" href="https://www.linkedin.com/pub/alex-trebolle-liz/1a/989/3b7" class="w100 txtleft fleft">
                <i class="fa fa-linkedin-square"></i> 
                <span class="showauto">https://www.linkedin.com</span>
            </a>
        </div>

    </div>
  </article>





</section>