<!-- POC by AlexT-->

<section>



  <!-- twitter user data-->
  <article class="api-section">

    <h2>Tweets</h2>
    <ul>
      <li ng-repeat="tweet in tweets">
        <p>#{{$index+1}} <b>{{tweet.created_at}}</b></p>
        <p>{{tweet.text}}</p>
        <a ng-repeat="url in tweet.entities.urls" href="{{url.expanded_url}}">{{url.expanded_url}}</a>
        <hr>

      </li>
    </ul>

  </article>

  <!-- LINKEDIN user data-->
  <article  class="api-section">

    <p>Config: <b>Linkedin</b> Account</p>

  
    <h2>Linkedin User Data</h2>
    <p> {{linkedinData |json}}</p>

  </article>

<!-- GH user data-->
  <article  class="api-section">
    <h2>Github User Data</h2>
    <!--div>{{profileData.github.user}}</div-->
    <div>
      <p>Github user: <a target="_blanck" href="{{githubUser.html_url}}">{{githubUser.login}}</a> since: {{githubUser.created_at}}</p>
      <p>Name: {{githubUser.name}}</p>
      <p>Email: {{githubUser.email}}</p>
      <p>Blog: {{githubUser.blog}}</p>
      <p>Bio: {{githubUser.bio}}</p>
      <p><img src="{{githubUser.avatar_url}}"></p>

    </div>

    <h2>Github User Repos</h2>
    <!--div>{{profileData.github.repos}}</div-->
    <div ng-repeat="repo in githubRepos">
      <p>{{$index}}</p>
      <p>{{repo.name}} since: {{repo.created_at}}</p>
      <p>{{repo.language}}</p>
      <p>{{repo.description}}</p>
      <hr>
    </div>

  </article>


</section>