<!-- POC by AlexT-->

<section>

<!-- options navigation bar-->
 <nav class="blurry">
        
  </nav>

  <nav class="title">
        <h2>{{apiProfile.github.user.name}} interactive Resume</h2>
  </nav>

  <nav class="options">
    <ul >
          <li><a href="#me">Me</a></li>
          <li><a href="#skills">Skills</a></li>
           <li><a href="#code">Code</a></li>
          <li><a href="#work">Work</a></li>
          <li><a href="#tweets">Network</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
  </nav>



<!-- GH user data-->
  <article  id="me" class="api-section">

    <div class="w30 fleft">
      <img class="imgprofile" src="{{apiProfile.github.user.avatar_url}}" >
      <!--img class="imgprofile" src="{{apiProfile.linkedin.pictureUrl}}"-->
    </div>

    <div class="w70 fright">
      <h2 class="txtcenter">{{apiProfile.github.user.name}}</h2>
      <h3  class="txtcenter">{{apiProfile.linkedin.headline}}</h3>
      <p class="summary" ng-bind-html="apiProfile.extra.description"></p>
      <p class="w50 fleft txtcenter"> web profile: <a href="{{apiProfile.extra.moreprofile}}"> {{apiProfile.extra.moreprofile}}</a></p>
      <p class="w50 fright txtcenter"> Portfolio: <a href="{{apiProfile.extra.portfolio}}">{{apiProfile.extra.portfolio}}</a> </p>


      <h4 class="txtcenter  top20 fleft w100">Personal Skills <i class="fa fa-user"></i></h4>
        <ul class="w100 fleft">
          <li class="fleft w100" ng-repeat="skill in apiProfile.extra.personalskills">{{skill}}</li>
        </ul>

        <h4 class="txtcenter top20 fleft w100">Recomendations <i class="fa fa-comments"></i> </h4>
        <div id="recomendations" class="w80 fleft owl-carousel">
            <div class="recomendation" ng-repeat="recommendation in apiProfile.linkedin.recommendationsReceived.values">
              <p>{{recommendation.recommendationText}}</p>
              <p class="small">by {{recommendation.recommender.firstName}} {{recommendation.recommender.lastName}}</p>
            </div>
        </div>

    </div>
  </article>


<!-- Linkedin user data-->
  <article class="api-section" id="skills">
    <h2 class="txtcenter">My Skills <i class="fa fa fa-rebel"></i> </h2>

      <div class="w50 fleft">
        <h4>Developer Skills</h4>
        <ul>
          <li class="w50 fleft" ng-repeat="skill in apiProfile.linkedin.skills.values">{{skill.skill.name}}</li>
        </ul>
      </div>

        <div class="w50 fright">
          <h4>Courses & certifications</h4>
          <ul>
            <li ng-repeat="cert in apiProfile.linkedin.certifications.values">{{cert.name}}</li>
            <li ng-repeat="course in apiProfile.linkedin.courses.values">{{course.name}}</li>
          </ul>


        <h4>Events</h4>
          <ul>
            <li ng-repeat="event in apiProfile.linkedin.publications.values">{{event.title}} ({{event.date.day}}/{{event.date.month}}/{{event.date.year}})</li>
          </ul>

        <h4>Languages</h4>
          <ul>
            <li ng-repeat="lang in apiProfile.linkedin.languages.values">{{lang.language.name}}</li>
          </ul>

        </div>

  </article>


<!-- jobs user data-->
  <article class="api-section" id="work" >
    <h2 class="txtcenter">Job experience <i class="fa fa fa-coffee"></i> </h2>
    <p class="txtcenter">This is what I have been doing</p>
    <div ng-include="'views/boxes/jobs.html'" ></div>

  </article>


<!-- GITHUB -->
  <article  id="code" class="api-section">
    <h2 class="txtcenter"><a target="_blanck" href="{{githubUser.html_url}}">My code</a> in Github <i class="fa fa fa-github-alt"></i> </h2>
    <p class="txtcenter">Last update: {{apiProfile.github.user.updated_at}} user: <b>{{apiProfile.github.user.login}}</b></p>

    <!--div>{{profileData.github.repos}}</div-->
    <ul class="repos" ng-repeat="repo in apiProfile.github.repos">
        <a target="_blanck" href="{{repo.html_url}}">
          <li class=" w100 fleft"><span class="circle">{{$index+1}}</span> </li>
          <li class=" w100 fleft txtcenter title">{{repo.name}} </li>
          <li class=" w100 fleft txtcenter description">{{repo.description}} </li>
          <li class=" w100 fleft txtcenter"> 
            <i class="fa fa-github"></i> Take a look to the <a target="_blanck" href="{{repo.html_url}}">Repo</a>
          </li>
          <li class=" w100 fleft"><span class="small fright">{{repo.created_at}}</span> </li>
        </a>
    </ul>
  </article>


<!-- twitter user data-->
  <article class="api-section" id="tweets" >

      <h2 class="txtcenter">My Tweets <i class="fa fa fa-twitter"></i> </h2>
      <p class="txtcenter">This is what I'm talking about</p>

       <div  class="w100 fleft ">
          <ul class="tweet" ng-repeat="tweet in apiProfile.twitter">
            <li class=" w100 fleft txtcenter"> <i class="fa fa fa-twitter-square"></i> {{tweet.text}}</li>
            <li class=" w100 fleft txtcenter"><a ng-repeat="url in tweet.entities.urls" href="{{url.expanded_url}}">{{url.expanded_url}}</a></li>
            <li class=" w100 fleft txtcenter"> <span class="small fright">{{tweet.created_at}}</span></li>
          </ul>
       </div>
  
   
    <!--div ng-include="'views/boxes/twitter.html'" ></div-->

  </article>

<!-- LINKEDIN user data-->
  <!-- article  class="api-section">




    <h2>Linkedin User Data</h2>
    <p>Updated on: {{apiProfile.linkedin.lastModifiedTimestamp | date:'dd/MM/yyyy @ h:mma'}}</p>

    <div class="w50 fleft">
      <h4>Profile</h4>
      <ul>
        <li>{{apiProfile.linkedin.firstName}} {{apiProfile.linkedin.lastName}}</li>
        <li>{{apiProfile.linkedin.headline}}</li>
        <li>{{apiProfile.linkedin.location.name}}</li>
        <li>{{apiProfile.linkedin.numConnections}} connections on Linkedin</li>
      </ul>
    </div>

  <div class="w50 fright">
    <h4>Courses & certifications</h4>
    <ul>
      <li ng-repeat="cert in apiProfile.linkedin.certifications.values">{{cert.name}}</li>
      <li ng-repeat="course in apiProfile.linkedin.courses.values">{{course.name}}</li>
    </ul>
  </div>

    <div class="w50 fleft">
    <h4>Events</h4>
    <ul>
      <li ng-repeat="event in apiProfile.linkedin.publications.values">{{event.title}} ({{event.date.day}}/{{event.date.month}}/{{event.date.year}})</li>
    </ul>
  </div>

  <div class="w50 fright">
    <h4>Languages</h4>
    <ul>
      <li ng-repeat="lang in apiProfile.linkedin.languages.values">{{lang.language.name}}</li>
    </ul>
  </div>


  <div class="w50 fleft">
    <h4>Recomendations</h4>
      <div ng-repeat="recommendation in apiProfile.linkedin.recommendationsReceived.values">
        <p>{{recommendation.recommendationText}}</p>
        <p>by {{recommendation.recommender.firstName}} {{recommendation.recommender.lastName}}</p>
      </div>
  </div>

  <div class="w50 fright">
    <h4>Skills</h4>
    <ul>
      <li ng-repeat="skill in apiProfile.linkedin.skills.values">{{skill.skill.name}}</li>
    </ul>
  </div>

    <p> {{apiProfile.linkedin |json}}</p

  </article-->


<!-- GH user data-->
  <article  id="contact" class="api-section">
    <h2>Contact Info</h2>
    <div>
     
      <p class="w30 txtcenter fleft"><i class="fa fa-envelope"></i> <a href="{{apiProfile.github.user.email}}">{{apiProfile.github.user.email}}</a></p>
      <p class="w30 txtcenter fleft"> <i class="fa fa-book"></i> <a href="{{apiProfile.extra.portfolio}}">{{apiProfile.extra.portfolio}}</a></p>
      <p class="w30 txtcenter fleft"> <i class="fa fa-twitter"></i> <a href="https://twitter.com/Alex_Trebolle">https://twitter.com/Alex_Trebolle</a></p>
      <p class="w50 txtcenter fleft"> <i class="fa fa-github"></i> <a href="{{githubUser.html_url}}">{{githubUser.html_url}}</a></p>
      <p class="w50 txtcenter fleft"><i class="fa fa-linkedin-square"></i>  <a href="https://www.linkedin.com/pub/alex-trebolle-liz/1a/989/3b7">https://www.linkedin.com</a></p>
    </div>
  </article>


<!-- Extra  data-->
  <!--article class="api-section">

    <h2>Extra data</h2>
    <div>{{apiProfile.extra |json}}</div>

  </article-->


</section>