<!-- POC by AlexT-->
<!-- https://github.com/krispo/angular-nvd3 -->
<!-- http://krispo.github.io/angular-nvd3/#/quickstart -->

<div class="fleft w100" >
  <h1 class="txtcenter">Angular + NVD3! (POC)</h1>
  <div class="list">
    <a href="#example1">Example 1: Bar Chart & Pie Chart</a>
    <a class="active" href="#example2">Example 2: Scatter Chart</a>
    <a href="#example3">Example 3: Study Case 0</a>
    <a  href="#example4">Example 4: Graph Nodes+Edges (by angular)</a>
    <a  href="#example5">Example 5: Graph Nodes+Edges (by D3)</a>
         <a  href="#example6">Example 6: Graph Nodes+Edges (by D3) FORCES</a>
  </div>
  <hr>



    <!-- SCATTER CHART-->
   
    <h2>Scatter CHART </h2>

    <p class="txtcenter">"By default it loads 4 gropus of 40 elments each"</p>

    <p class="txtcenter">"Use the Generate box to choose groups and elements, and generate a new Chart"</p>

    <section class="fleft w70" >
      <nvd3 options='optionsscatterChart' data='datascatterChart'></nvd3>
    </section>

    <section class="fright w30">    
      <h3>Generate Chart Box</h3>
      <form name="newchartform">
        <ul>
          <li class="fleft w100">
            <label class="w40 fleft"> Groups</label><input required name="groups" class="w50  fleft" ng-model="SCgroup"></input>
          </li>
          <li class="fleft w100">
            <label class="w40 fleft"> Elements per Group </label><input required name="elements" class="w50 fleft" ng-model="SCsize"></input>
          </li>
          <li><button ng-disabled="newchartform.$valid==false" ng-click="generateData(SCgroup,SCsize)">Generate Chart</button></li>
        </ul>
      </form>
        <hr>
      <ul>
        <li>New Random data of 4 Groups and 40 elements each</li>
        <li><button ng-click="generateData(SCgroup,SCsize)">Generate Chart</button></li>
      </ul>
    </section>

    <section class="fleft w100">  
      <p class="txtcenter">"Each box is one group, fell free to add/edit json object and modify the chart"</p>
      <div class="fleft w22 txtcenter" ng-repeat="ele in datascatterChart" >
        <p  class="fleft w100" >{{ele.key}} </p>
        <textarea class="fleft w100"   ng-model="newData[$index]" ng-change="cambiarScatter(newData)"></textarea>
      </div>
    </section>







</div>
