<!-- POC by AlexT-->
<!-- https://github.com/krispo/angular-nvd3 -->
<!-- http://krispo.github.io/angular-nvd3/#/quickstart -->

<div class="fleft w100" >
  <h1 class="txtcenter">Angular + NVD3! (POC)</h1>
  <div class="list">
    <a href="#example1">Example 1: Bar Chart & Pie Chart</a>
    <a href="#example2">Example 2: Scatter Chart</a>
    <a href="#example3">Example 3: Study Case 0</a>   
    <a class="active" href="#example4">Example 4: Graph Nodes+Edges (by angular)</a>
    <a  href="#example5">Example 5: Graph Nodes+Edges (by D3)</a>
     <a  href="#example6">Example 6: Graph Nodes+Edges (by D3) FORCES</a>
  </div>
  <hr>



    <!-- Ggrapth CHART-->
   
    <h2>Graph Nodes+Edges  </h2>
      <p class="w50 fleft">Now yo are able to setup a graph as big as you want in panel size</p> 
      <p class="w50 fleft">And drop some JSOn data in the source box to draw the Graph</p>  
      <p class="w50 fleft">Also you have some filters, per type and attribute</p> 
      <p class="w50 fleft">In future you will be able to filter by any attribute</p> 
      <p class="w50 fleft"><b>Next:</b> future you will be able to filter by any attribute</p>  
    <hr class="w100">

    <!-- OPTIONS BAR-->
    <div class="w30 box fleft">
      <h4 class="txtcenter">Edit Graph</h4>
        <form class="w25 fleft">
            <p><b>Edit grafo size </b></p> 
           <p><label>Grapth width</label><input type="text" ng-model="GrapthSize.w"></input></p>
           <p><label>Grapth height</label><input type="text" ng-model="GrapthSize.h"></input></p>
        </form>
        <form class="w25 fleft">
        <p><b>Show/hide Rule/scale</b></p>
          <input type="radio" ng-model="showRule" value="show"> show <br/>
          <input type="radio" ng-model="showRule" value="hide"> hide <br/>
        </form>
    </div>

    <div class="w60 box fright">
          <h4 class="txtcenter">Info Panel</h4>
          <div class="w50 fleft">
                <p>Click on a <b>node</b> to load his data</p>
                <div ng-init="selectedNodeData='{}'">{{selectedNodeData | json}}</div>
          </div>
          <div class="w50 fleft">
                <p>Click on an <b>Edge</b> to load his data</p>
                <div ng-init="selectedEdgeData='{}'">{{selectedEdgeData | json }}</div>
          </div>
    </div>

 



    <section class="fleft w100" >

      <article class="fleft w60">
        <svg  id="grafo"  style="width:{{GrapthSize.w}};height:{{GrapthSize.h}}">

              <!-- Arrow -->
              <defs>
                <marker id='head' orient='auto' markerWidth='2' markerHeight='4'
                        refX='0.1' refY='2'>
                  <path d='M0,0 V4 L2,2 Z' fill='green' />
                </marker>
              </defs> 

               <!-- Draw nodes--> 
              <g class="nodes" ng-repeat ="node in Grafo.nodes">
                <!-- circle  ng-attr-cx="{{node.x}}" ng-attr-cy="{{node.y}}" ng-attr-r="{{node.value}}" stroke="black" stroke-width="1" fill="{{node.color}}" / -->

                <image shape="{{node.shape}}" xlink:href="{{node.shape}}" ng-attr-x="{{node.x}}" ng-attr-y="{{node.y}}" ng-attr-height="{{node.value}}" ng-attr-width="{{node.value}}" ng-attr-transform="translate(-{{node.value/2}},-{{node.value/2}})" ng-click="loadNode(node)"/>

                <!-- text ng-attr-x="{{node.x+node.value}}" ng-attr-y="{{node.y}}" class="id">{{$index}}</text -->
                <text ng-attr-x="{{node.x+node.value}}" ng-attr-y="{{node.y}}" class="id">{{node.x}},{{node.y}}</text>
              </g>

              <!-- Draw edges -->
              <g class="edges" ng-repeat ="edge in Grafo.edges">
                 <line marker-end='url(#head)'  ng-attr-x1="{{edge.x1}}" ng-attr-y1="{{edge.y1}}" ng-attr-x2="{{edge.x2}}" ng-attr-y2="{{edge.y2}}" style="stroke:{{edge.color}}; stroke-width:{{edge.stroke}}; stroke-dasharray:{{edge.dasharray}}" ng-click="loadEdge(edge)"/>
                 
                 <!-- <circle  ng-attr-cx="{{edge.x2+10}}" ng-attr-cy="{{edge.y2+5}}" r="5" stroke="black" stroke-width="1" fill="black" /> -->
              
              </g>

              <g class="rule rulex" ng-show="showRule=='show'">
                <text  ng-repeat ="a in Wscale" ng-attr-x="{{a}}" y="10"> {{a}}</text>
                <line  ng-repeat ="a in Wscale" ng-attr-x1="{{a}}" y1="0" ng-attr-x2="{{a}}" ng-attr-y2="{{GrapthSize.h}}" style="stroke:grey; stroke-width:1px;" />
              </g>

              <g class="rule ruley" ng-show="showRule=='show'">
                <text ng-repeat ="a in Hscale" x="0" ng-attr-y="{{a}}"> {{a}}</text>
                <line  ng-repeat ="a in Hscale" ng-attr-y1="{{a}}" x1="0" ng-attr-y2="{{a}}" ng-attr-x2="{{GrapthSize.w}}" style="stroke:grey; stroke-width:1px;" />
              </g>
             

        </svg>
      </article>

        <!-- Node Data -->
        <article class="fright w30 box">

          <h4>Filter panel</h4>

               <form class="w50 fleft">
                <p>Filter by type <b>Edges/nodes</b></p>
                <input type="radio" ng-model="edgesVSnodes" value="edges">  Edges <br/>
                <input type="radio" ng-model="edgesVSnodes" value="nodes"> Nodes <br/>
                <input type="radio" ng-model="edgesVSnodes" value="both"> Both <br/>
              </form>


              <form class="w50 fleft">
                <p>Filter by node <b>shapes</b>  </p>
                Start: <input name="Heart" type="checkbox" ng-model="shapes[0]" value="Heart"> <br/>
                Heart: <input name="Star" type="checkbox" ng-model="shapes[1]"  value="Star"> <br/>
                Earth: <input name="Earth" type="checkbox" ng-model="shapes[2]"  value="Earth" > <br/>
             </form>


          
              <form class="w50 fleft">
                <p>Filter <b>nodes by position</b> </p>
                <input type="radio" ng-model="nodePosFilter" value="range1">  280 &lt x &lt 430 <br/>
                <input type="radio" ng-model="nodePosFilter" value="range2"> 190 &lt y &lt 300 <br/>
                <input type="radio" ng-model="nodePosFilter" value="range3"> all <br/>
             </form>

            <form class="w50 fleft">
                <p>Color nodes by <b> position query</b> </p>
                <input type="radio" ng-model="ColorNodePosFilter" value="range1">  280 &lt x &lt 430 <br/>
                <input type="radio" ng-model="ColorNodePosFilter" value="range2"> 190 &lt y &lt 300 <br/>
                <input type="radio" ng-model="ColorNodePosFilter" value="range3"> none <br/>
             </form>
          
            
        </article>


    </section>

    <!-- Source -->
    <section class=" fleft w100">
      <hr class="w100">
      <h3  class="">Json source</h3>
      <p>Feel free to edit the JSON and redraw the Graph</p>  
      <textarea class="w40" ng-model="GrafoSTR" ng-change="changeGRafo(GrafoSTR)"> </textarea>
    </section>



</div>
