<!-- POC by AlexT-->
<!-- https://github.com/krispo/angular-nvd3 -->
<!-- http://krispo.github.io/angular-nvd3/#/quickstart -->

<section class="fleft w100 page">
      <h1 class="txtcenter">Angular + NVD3! (POC)</h1>
      <div class="list w100">
            <a href="#example1">Example 1: Bar Chart & Pie Chart</a>
            <a href="#example2">Example 2: Scatter Chart</a>
            <a href="#example3">Example 3: Study Case 0</a>
            <a  href="#example4">Example 4: Graph Nodes+Edges (by angular)</a>
            <a  href="#example5">Example 5: Graph Nodes+Edges (by D3)</a>
            <a  class="active" href="#example6">Example 6: Graph Nodes+Edges (by D3) FORCES</a>
      </div>
        <hr>


        <!-- Graph CHART-->
        <article class="w50 fleft box">
            <h2>Graph Nodes+Edges FORCES</h2>

           <div id="svgContentD3">    <!--svgContent--> </div>
        </article>

</section>
