<!-- POC by AlexT-->
<!-- https://github.com/krispo/angular-nvd3 -->
<!-- http://krispo.github.io/angular-nvd3/#/quickstart -->

<section class="fleft w100 page">
      <h1 class="txtcenter">Angular + NVD3! (POC)</h1>
      <div class="list w100">
            <a href="#example1">Example 1: Bar Chart & Pie Chart</a>
            <a href="#example2">Example 2: Scatter Chart</a>
            <a href="#example3">Example 3: Study Case 0</a>
            <a  href="#example4">Example 4: Graph Nodes+Edges (by angular)</a>
            <a class="active" href="#example5">Example 5: Graph Nodes+Edges (by D3)</a>
                 <a  href="#example6">Example 6: Graph Nodes+Edges (by D3) FORCES</a>
      </div>
        <hr>




        
       
      

        <!-- Graph CHART-->
        <article class="w50 fleft box">
            <h2>Graph Nodes+Edges  </h2>
            <p>Size: w:{{GrapthSize.w}},  h:{{GrapthSize.h}}  width{{total.nodes}} nodes and {{total.edges}} edges </p>
            <p>Node: {{nodeHover.name}}, x:{{nodeHover.x}}, y:{{nodeHover.y}}</p>
           <div id="svgContentD3">    <!--svgContent--> </div>
        </article>

         <!-- Graph RESULTS-->
        <article class="w50 fright box">
            <h2>Graph Results  </h2>

            <ul class="menuTabs w100" ng-init="menu='source'">
              <li ng-class="{active: menu=='results'  }" ng-click="menu='results'">Results</li>
              <li ng-class="{active: menu=='source'  }" ng-click="menu='source'">Source</li>
              <li ng-class="{active: menu=='options'  }" ng-click="menu='options'">Options</li>
            </ul>
            <!-- RESULTS -->
            <article class="w100 fleft menuBody" ng-show="menu=='results'">
                 <p class="txtcenter">"Click on a node to load his data"</p>
                 <p><b>Selected Node:</b> </p>
                    <p>{{nodeAttrs}}</p>

                 <p><b>Edges from him:</b></p> 
                    <p ng-repeat="node in nodeEdgesFROM track by $index">{{node|json}}</p>

                 <p><b>Edges to him:</b></p> 
                    <p ng-repeat="node in nodeEdgesTO track by $index">{{node|json}}</p>

                 <p><b>Nodes connected: </b>
                    <span ng-repeat="node in nodeNodesID track by $index">{{node|json}}, </span></p>
  

                 <p><b>Nodes connected attrs:</b></p> 
                    <p ng-repeat="node in nodeNodes track by $index">{{node|json}}</p>
                    
             </article>

            <!-- SOURCE -->
            <article class="w100 fleft menuBody" ng-show="menu=='source'">
               <p class="txtcenter">"Data source"</p>
                <h4>DATA Nodes:</h4>
                  <p ng-repeat="node in Grafo.nodes "> {{node| json}}</p>
                <h4>DATA Edges:</h4>
                  <p ng-repeat="edge in Grafo.edges "> {{edge| json}}</p>
             </article>


            <!-- OPTIONS -->
            <article class="w100 fleft menuBody" ng-show="menu=='options'">
              <form class="w100 fleft">
                  <h3>Generate new random Grapho</h3> 
                 <p><label>Nodes</label><input type="text"  required ng-model="newNodes"></input></p>
                 <p><label>Vertex</label><input type="text" required ng-model="newVertex"></input></p>
                 <button ng-click="quaiks(newNodes,newVertex)">Generate a new one</button>
               </br>
              </form>
               <!--<form class="w50 fleft">
                  <h3>Grafo size {{GrapthSize}}</h3> 
                 <p><label>Grapth width</label><input type="text"  ng-model="GrapthSize.w"></input></p>
                 <p><label>Grapth height</label><input type="text" ng-model="GrapthSize.h"></input></p>
              </form>

              <form class="w50 fleft">
                  <h3>Grafo Scale {{GrapthScale}}</h3> 
                 <p><label>Scale width</label><input type="text"  ng-model="GrapthScale.w"></input></p>
                 <p><label>Scale height</label><input type="text"  ng-model="GrapthScale.h"></input></p>
              </form>-->

<p>Made cahnges on this JSon and</p>
                <button ng-click="draw(GrapthSize,Grafo)">New Compare it!</button>
                <button ng-click="loadData(Grafo)">Load it!</button>
                 
           
                  <textarea class="w100" ng-model="GrafoSTR"  ng-change="change(GrafoSTR)"></textarea>
            </article>
           
        </article>

       


</section>
