  <!-- Github user data-->
   <div ng-controller="graphsCtrl" >
	    <h2 class="txtcenter">My Skills</h2>

	    <div class='w33 first-child fleft'>
	    	<span class="txtcenter bluetitle w100 fleft">Languages</span>
	    	<nvd3 options='optionsBARLanguages' data='dataBARLanguages'></nvd3>
	    </div>

	   	<div class='w33 fleft'>
	   		<span class="txtcenter bluetitle w100 fleft">Frontend</span>
	   		<nvd3 options='optionsPIE' data='dataPIEFront'></nvd3>

	    </div>
	   	
	   	<div class='w33 last-child fleft'>
	   		<span class="txtcenter bluetitle w100 fleft">Backend</span>
	   		<nvd3 options='optionsPIE' data='dataPIEBack'></nvd3>
	    </div>

		<div class='w100 fleft'>
		 	<nvd3 options="optionsHBAR" data="dataHBar"></nvd3>
		</div>


   </div>