
	<div id="jobs" class="content vcalendar owl-carousel" ng-controller="jobsCtrl">

	            <div class="position  first experience vevent vcard summary-current" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Senior Front End Web &amp; Mobile Lead developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <a class="company-profile-public" href="/company/zed?trk=ppro_cprof">
	                                <span class="org summary">EFROM (ISBAN, Santander Bank)</span>
	                            </a>
	                        </strong>
	                    </h4>
	                </div>

	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2014-10-01">2014-10-01</abbr>
	                    to
	                    <abbr class="dtstamp" title="2014-10-01">currently</abbr>
	                   
	                    <span class="location">on Boston (MA) , US</span>
	                </p>
	                <p class=" description current-position">
						Developing different interactive tools to the colleagues in the branches to improve their
						daily working procedures. Some of the projects were:
						<br><br>-CRM: to keep track of the clients, offer them products, set alerts, notes…
						<br><br>-Payments Manager: manage wires and money transfer between clients.
						<br><br>-NAO: app to open accounts, for new or current clients.
						<br><br>All of this were responsive webapps, built with angular.js and cosuming API services.
	                </p>
	            </div>	    
	        
	            <div class="position  first experience vevent vcard summary-current" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Senior Front End Web &amp; Mobile Hybrid Apps developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <a class="company-profile-public" href="/company/zed?trk=ppro_cprof">
	                                <span class="org summary">Glass (Zed Worldwide)</span>
	                            </a>
	                        </strong>
	                    </h4>
	                </div>

	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2013-06-01">2013-06-01</abbr>
	                    to
	                    <abbr class="dtstamp" title="2014-10-01">2014-10-01</abbr>
	                   
	                    <span class="location">on Madrid , Spain</span>
	                </p>
	                <p class=" description current-position">
	                    Working at the Invest and Development Department of the Zed Group Companies, as Pyro Studios, Ilion Animation Studios, U-Tad university... means a developer dream came true.
	                    <br>Co-working with people from "Commandos" video game or "Planet 51" film is a big opportunity to learn from the best and a great responsibility too.
	                    <br>
	                    <br>My two main project here, have been:
	                    <br>
	                    <br>-Kuasars: a framework to build apps and mobile games on an easier way.
	                    <br>My role here was to build the console that developers will use to login and manage their apps, consuming the framework on an interactive way. Also developing some node.js developer tools.
	                    <br>
	                    <br>-Graph Insight: this a big data web tool to analize Graphs, where I was also responsible to build a console to consume the data with the best user experience.
	                </p>
	            </div>
	        
	        
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Senior Front End Web &amp; Mobile developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <a class="company-profile-public" href="/company/adesis-netlife?trk=ppro_cprof">
	                                <span class="org summary">ADESIS Netlife</span>
	                            </a>
	                        </strong>
	                    </h4>
	                </div>
	                
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2012-11-01">2012-11-01</abbr>
	                    to
	                    <abbr class="dtend" title="2013-05-01">2013-05-01</abbr>
	                    
	                    <span class="location">on Madrid, Spain</span>
	                </p>
	                <p class=" description past-position">
	                    Adesis is a company with offices in Spain and Mexico, focus on SEO, SEM, Usability, Online Marketing, and Web solutions since 1999.
	                    <br>
	                    <br>I have learned most the actual fron end technologies with them, as: sass, jade, angular, node...
	                    <br>Developing websites, intranet websites, and custom frameworks to built html templates.
	                    <br>Also I have treated with some of the most important Spanish companies as Repsol, Mapfre, Europac..
	                </p>
	            </div>
	        
	        
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">iPad webapp developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <a class="company-profile-public" href="/company/concise-media-design?trk=ppro_cprof">
	                                <span class="org summary">Concise Media Design</span>
	                            </a>
	                        </strong>
	                    </h4>
	                </div>
	                
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2011-04-01">2011-04-01</abbr>
	                    to
	                    <abbr class="dtend" title="2012-11-01">2012-11-01</abbr>

	                    <span class="location">on London, UK</span>
	                </p>
	                <p class=" description past-position">
	                    Currently my job is a mix of code and customer side.
	                    <br>
	                    <br>&gt;Developing bespoke apps for ipads, using Java script libraries with CSS3 and HTML5.
	                    <br>&gt;And going on site to the events, to dealing with last minute client changes.
	                    <br>
	                    <br>Base in London I have been travelling around and working in our 3 offices: NYC, London and Hong Kong, expecially in the NYC one doing the 90% of the jobs.
	                    <br>
	                    <br>As the same time I’m still working as web developer during my free time.
	                </p>
	            </div>
	       
	        
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Frontend and Backend web developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <span class="org summary">GEMIN-I</span>
	                        </strong>
	                    </h4>
	                </div>
	
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2010-12-01">2010-12-01</abbr>
	                    to
	                    <abbr class="dtend" title="2011-04-01">2011-04-01</abbr>
	                   
	                    <span class="location">on London, UK</span>
	                </p>
	                <p class=" description past-position">
	                    As my first job in London, I joined Gemini-I to developed a Wordpress theme for one of his charity projects as volunteer. It was a complex theme where I used CSS3, HTML5, PHP and Java Scripts doing the frontend and backend of the project.
	                </p>
	            </div>
	       
	      
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Frontend and backend developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <span class="org summary">Freelance</span>
	                        </strong>
	                    </h4>
	                </div>
	
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2006-01-01">2006-01-01</abbr>
	                    to
	                    <abbr class="dtend" title="2010-12-01">2010-12-01</abbr>
	                 
	                    <span class="location">on Valladolid, Spain</span>
	                </p>
	                <p class=" description past-position">
	                    When I was thirteen I made my first web with composer. Now and I have a long experience with cms like drupal, joomla, forophpbb, zencart.. and especially wordpress.
	                    <br>
	                    <br>I can manage: CSS3, HTML5, PHP, Java Scripts (Jquery, JQuery Mobile..) and Flash.
	                    <br>
	                    <br>As the same time I was working in CAMPRUVA during the mornings.
	                </p>
	            </div>
	       
	        
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Magazine layout designer and developer</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <span class="org summary">Articulo 20</span>
	                        </strong>
	                    </h4>
	                </div>
	
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2007-10-01">2007-10-01</abbr>
	                    to
	                    <abbr class="dtend" title="2010-10-01">2010-10-01</abbr>
	                    <span class="location">on Valladolid, Spain</span>
	                </p>
	                <p class=" description past-position">
	                    Layout designer of the magazine “Articulo 20” during two years, working with Quark, and Photoshop.
	                    <br>
	                    <br>As the same time I was working in CAMPRUVA during the mornings.
	                </p>
	            </div>
	        
	        
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">System and Network Administrator</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <span class="org summary">CAMPRUVA</span>
	                        </strong>
	                    </h4>
	                </div>
	
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2007-07-01">2007-07-01</abbr>
	                    to
	                    <abbr class="dtend" title="2010-10-01">2010-10-01</abbr>
	                    <span class="location">on Valladolid, Spain</span>
	                </p>
	                <p class=" description past-position">
	                    I was the responsible of the correct work on of the computers, and built the network (Windows and Linux servers) of our three offices to share staff and work online.
	                    <br>Managing the databases of the programs and develop new software for our requirements. Aswell I was the responsable of email marketing and develop websites.
	                </p>
	            </div>
	        
	        
	            <div class="position   experience vevent vcard summary-past" style="display:block">
	                <a class="include" href="#name"></a>
	                <div class="postitle">
	                    <h3 class="false">
	                        <span class="title">Computer support and data bases administrator</span>
	                    </h3>
	                    <h4>
	                        <strong>
	                            <span class="org summary">Microsoft Mobility Innovation Center</span>
	                        </strong>
	                    </h4>
	                </div>
	
	                 <p class="period"><i class="fa fa-clock-o"></i> 
	                    <abbr class="dtstart" title="2007-01-01">2007-01-01</abbr>
	                    to
	                    <abbr class="dtend" title="2007-06-01">2007-06-01</abbr>
	                   
	                    <span class="location">on Valladolid, Spain</span>
	                </p>
	                <p class=" description past-position">
	                    My employment in Microsoft was in an IT consulting team, like computer support. Giving to the consultants tools to increase their job and manage the clients database.
	                </p>
	            </div>
	        
	    
	</div>
