svg{
  display:block;
  float:left;
  background: white;
  }

  #grafo{
     margin-left: 30px;
  }


/*EXAMPLE 4*/
#svgContent svg{
  width:auto !important;
  height:auto !important;
}

#svgContent line{
  stroke: #cccccc;
  stroke-width: 1;
}

#svgContent circle{
  fill: blue;
}
  
  /*EXAMPLE 5*/
#svgContentD3 svg{
  width:auto !important;
  height:auto !important;
}