
/* -------------- GENERAL ------------ */

body{
	background: #fff;
}

.top50{
	margin-top: 50px;
}
.top75{
	margin-top: 75px;
}


.w40{
	width: 40%;
}

.w60{
	width: 60%;
}
.w65{
	width: 65%;
}

.w33auto{
	width:30%;
	margin: 0% 1.5%
}

.w33 {
	width:30%;
	margin: 0%
}
.w33pure{
	width:33%;
}

.w33:first-child,.w33.first-child {
	width:30%;
	margin-right: 5%
}

.w33:last-child,.w33.last-child {
	width:30%;
	margin-left: 5%
}

.api-section:first-child {
	margin-top:0%;

}
.api-section {
    float: left;
    display: block;
    width: 100%;
    margin: 1% 0%;
    padding: 0%;

    box-shadow: 0px 0px 0px black;
    background: rgb(255, 255, 255);
}

.api-section.insider{
	width: 80%;
    padding: 0% 10%;
}

.blockcenter{
	display: inline-block;
    margin: 10px auto;
}

.bluetitle{
	color:#225887;
	font-weight: bold;
}
.txtwhite{color:white;}
.txtblue{
	color:#225887;
}

.boxmail{
	display: inline-block;
	border-radius: 3px;
	box-shadow: 2px 2px 3px #bbb;
	border:1px solid #000;
	padding: 5px 10px;
	width: auto;
    margin: auto;
}

#contact a:hover .fa{
	color:red;
	border: 3px solid red;
}



/* ----- SCROLL HORIZONTAL CONTROLLERS -------*/
body.cv  #recomendations .owl-controls {
	position: absolute;
	top: 0px;
	text-align: center;
	margin: auto;
	clear: both;
	right: 40%;
}
body.cv  #recomendations .owl-wrapper-outer{margin-top: 64px;}






/* -------------- INTRO SECTION ------------ */
#intro{
	

}

#intro #sky{
	height: 410px;
	padding-top:90px; 

	background: #225887 url('../images/blue.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;

}



#intro .subTitle,#intro .mainTitle{
	text-shadow: 2px 2px 2px #eee;
	font-weight: bold;

}

#intro .mainTitle{
	font-size: 1.5em;
}

#logos{
	cursor: pointer;

	background: rgba(12, 66, 112,.9);
	position: relative;
    top: 200px;
    width: auto;
    text-align: center;
    margin: auto;
    left: auto;
    right: auto;

	background: -moz-linear-gradient(top, rgba(12,65,112,1) 0%, rgba(252,252,252,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,65,112,1)), color-stop(100%, rgba(252,252,252,1)));
	background: -webkit-linear-gradient(top, rgba(12,65,112,1) 0%, rgba(252,252,252,1) 100%);
	background: -o-linear-gradient(top, rgba(12,65,112,1) 0%, rgba(252,252,252,1) 100%);
	background: -ms-linear-gradient(top, rgba(12,65,112,1) 0%, rgba(252,252,252,1) 100%);
	background: linear-gradient(to bottom, rgba(12,65,112,1) 0%, rgba(252,252,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c4170', endColorstr='#fcfcfc', GradientType=0 );

}
#logos img{
	float: left;
	height: 50px;
	width: auto;
	margin-right: 20px;

	-webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#logos img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

body.cv #intro nav.options{
	position: fixed;
    top: 10px;
    left: 0px;
    width: 100%;

    background: #225887;
    background: rgba(255, 255, 255,.1);
}

body.cv #intro nav.options.fix{
	background: #000;
	position: fixed;
	top: 0px;
	left:0px;
	right: 0px;
	z-index: 999999;
}

body.cv #intro nav.options ul li a:hover{
	color:#225887;
	text-shadow: 1px 1px 1px #fff;
}
body.cv #intro nav.options ul li a{
	text-shadow: 1px 1px 1px #225887;
}




/* -------------- ME SECTION ------------ */

body.cv #me .imgprofile {
	width: 60%;
	display: block;
	margin-top: 30px;
    margin-bottom: 10px;

    border-radius: 5%;
    box-shadow: 0px 0px 10px#225887;

        -webkit-transform: translateZ(0);
	    transform: translateZ(0);
	    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -moz-osx-font-smoothing: grayscale;
	    -webkit-transform-origin: 0 100%;
	    transform-origin: 0 100%;
}

body.cv #me .imgprofile:hover{
	cursor: pointer;

    -webkit-animation-name: hvr-wobble-top;
    animation-name: hvr-wobble-top;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}


#imager{
	width: 30%;
    margin-right: 4%;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #bbb;
    padding-bottom: 20px;

    font-family: 'Open Sans Condensed', sans-serif;
}





/*
body.cv #me .imgprofile{
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    cursor: pointer;
}

body.cv #me .imgprofile:before{
    content: " wwww";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

body.cv #me .imgprofile:hover:before{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
*/

#pskills{
	float: left;
	width: 90%;
	margin: 0% 5%;
}

#pskills li{
	font-style: oblique;
    list-style-type: circle;
    margin: 2px 15px !important;

}



/*----------------- RECOMENDATIONS ------------------------*/
#recommend{
	background:  url('../images/people-talking.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 280px;
}

#recommend .recomendationtxtbox{
	float: left;
    width: 98%;
    height: auto;
    padding: 1%;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #ccc;
    background:#fff;

    
    font-family: 'Open Sans Condensed', sans-serif;
}

#recommend .recomendationtxtbox, #recommend .signer{
	color: black;
    font-style: italic;
}

.arrow-down {
	float: left;
	width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 40px solid #000;
}
.firm{
	    float: left;
    margin-left: 35%;
}


body.cv #recomendations .recomendation .small {
    text-align: right;
    font-style: italic;
    color: black;
    margin-top: 30px;
    width: auto;
    float: left;
    margin-left: 20px;
}

body.cv #recomendations .owl-wrapper-outer {
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    border-radius: 0px;
}

.recomendationtxtbox:nth-child(even){

}
.recomendationtxtbox:nth-child(odd){
	
}

#recomendations.owl-theme .owl-controls .owl-page span{
	background: #fff;
    border: 2px solid black;
    box-shadow: 0px 0px 4px #bbb;
}

#recomendations.owl-theme .owl-controls .owl-page span:hover{
	background: #000;
    border: 2px solid #fff;
    box-shadow: 0px 0px 4px #000;
}
#recomendations.owl-theme .owl-controls .owl-buttons div{
    opacity: 0.9;
    background: #fff;
    border: 2px solid black;
    color: black;
    font-size: 18px;
    box-shadow: 0px 0px 4px #bbb;
}

#recomendations.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    opacity: 0.9;
    background: #000;
    border: 2px solid #bbb ;
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 4px black;
}

/*--------- JOBS --------*/
#work{
    height: 550px;
    background: url('../images/dreamjob.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    /* padding: 10px; */
    background-position: 0px 0px;

}

#work .experience{
    width: 70%;
    background-color: #fff;
    padding: 5px 10px;
    border: 4px solid #000;
    border-radius: 20px;
    box-shadow: inset 3px 3px 3px #ccc;
    margin: 0% 15%;

}

#jobs .owl-item{
	font-family: 'Open Sans Condensed', sans-serif;
}

#jobs.owl-theme .owl-controls .owl-page span{
	background: #fff;
    border: 2px solid black;
    box-shadow: 0px 0px 4px #bbb;
}

#jobs.owl-theme .owl-controls .owl-page span:hover{
	background: #000;
    border: 2px solid #fff;
    box-shadow: 0px 0px 4px #000;
}

#jobs.owl-theme .owl-controls .owl-buttons div{
    opacity: 0.9;
    background: #fff;
    border: 2px solid black;
    color: black;
    font-size: 18px;
    box-shadow: 0px 0px 4px #bbb;
}

#jobs.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    opacity: 0.9;
    background: #000;
    border: 2px solid #bbb ;
    color: white;
    font-size: 18px;
    box-shadow: 0px 0px 4px black;
}

#jobs .period{
	margin-top: 10px;
	color:#225887;
}


/*--------- CODE --------*/
#code{
	background: url('../images/code2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;

}
#code .repos{
	background-color: #fff;
}
#code .repos:hover{
	background-color:#225887;
}
body.cv .repos:hover .circle {
    background: white;
    color:#225887;
}
body.cv #code  .repos {
    width: 19%;
    padding: 1%;
    margin: 2% 2%;
    margin-top: 1%;
    float: left;
    border-radius: 13px;
    box-shadow: 0px 0px 5px #000;
    min-height: 175px;
    cursor: pointer;
    height: 170px;
}
body.cv #code .repos .description {
    font-size: 14px;
    height: 90px;
}


.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/*-------- CONTACT --------*/


#contact .fa{
	color: #225887;
    border: 3px solid #225887;
    border-radius: 30px;
    padding: 8px;
    box-shadow: 1px 1px 1px #bbb;
    font-size: 30px;
}

#contact .special .fa{
	float: left;
    margin: 10px auto;
}

#contact .special span{
	float: left;
	margin: 27px 10px;
}

#contact p{margin: 2% auto;}


/*-------- CLIENTS --------*/
#clients img{
	float: left;
	margin: 1% 2%;
	width: 100px;
	    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    cursor: pointer;
}

#clients img:hover{
	-webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;

}


@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* FLIP CODE */
		/* entire container, keeps perspective */
		.flip-container {
			perspective: 1000;
		}
			/* flip the pane when hovered */
			.flip-container:hover .flipper, .flip-container.hover .flipper {
				transform: rotateY(180deg);
			}



		/* flip speed goes here */
		.flipper {
			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		/* hide back of pane during swap */
		.front, .back {
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		/* front pane, placed above back */
		.front {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateY(0deg);
		}

		/* back, initially hidden pane */
		.back {
			transform: rotateY(180deg);
		}


/* ------ RESPONSIVE ---*/

@media only screen and (max-width: 800px) {
    .api-section.insider {
        width: 98%;
        padding: 0% 1%;
    }

    #intro #sky {
        background-size: cover;
    }

    #logos {
        width: 92%;
        padding: 0% 4%;
    }

    #logos img {
        height: 35px;
    }

    #imager {
        width: 92%;
        float: right;
        margin: 0% 4%;
    }

    #me .w65.fright{
        width: 92%;
        margin: 0% 4%;
    }

    #skills .w40.first-child.fleft,#skills .w60.fleft{
        width: 92%;
        margin: 0% 4%;
    }

    #work .txtcenter.txtwhite{
        margin-left: auto;
    }

    #work {
        height: auto;
        background-size: cover;
    }

    #code .repos{
        width: 44% !important;
    }

    #tweets li{
        overflow: hidden;
        text-overflow: ellipsis;
    }
    body.cv #recomendations .owl-controls {
        right: 30%;
    }
    #recommend {
        background-position: bottom;
    }
    #contact .w50 {
        width: 100%;
    }

    #contact .w50{
        width: 95%;
        margin-left: 5%;
    }
    #contact .w50.fleft.txtcenter.top75 a{
        float: left;
        margin-bottom:20px; 
    }
    
}


@media only screen and (min-width: 601px) and (max-width: 800px) {
        body.cv #me .imgprofile{
            width: 40%;
            float: left;
            margin: 2%;
        }
        #pskills {
            width: 46%;
            padding-top: 25px;
        }
        .api-section.insider {
            width: 94%;
            padding: 0% 3%;
        }
}

@media only screen and (min-width: 701px) and (max-width: 800px) {
    #recommend {
        background-position: 0px 280px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
    #logos img {
        float: left;
        height: 40px;
    }
    .api-section.insider {
            width: 94%;
            padding: 0% 3%;
        }
}


